/* Reset some default styles */
body, h1, p, label, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  body {
    min-width: 250px;
    width: 300px;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: bold;
  }
  
  button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* center */
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #output {
    margin-top: 20px;
    font-size: 14px;
  }

  table{
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 100%;
  }

  td, tr, th {
    padding: 10px;
    text-align: center;
  }
  
  tr {
    border-bottom: 1px solid #ca1e1e;
  }

  .note {

    width: 100%;
    background-color: #ffffcc;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-top: 10px;
  }

  .hidden {
    display: none;
  }